body {
    background: #071b2f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #3fc4ff;
}

button {
    background: #00a8ff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}